<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p>CONTACT NUMBER: 9178913438</p>
      <h3>FOR MORE DETAILS MAIL TO </h3>
    <a href="#">prateekpanda2000@gmail.com</a><br></br>

    <a href="https://www.ravenshawuniversity.ac.in/">DETAILS OF OUR COLLEGE.CLICK IT</a>

<%- include("partials/footer"); -%>
